a {font-size: 8pt; text-decoration: none; color: white;}
a:hover
    {color: #855b65;}

.title {font-size: 36pt; font-weight: bold; color: white;}
/* at = a title*/
.at {font-size: 24pt; text-decoration: none; color: #2081e2;}
.at:hover
    {color: gray;}

/* aa = a address */
.aa {font-size: 12pt; text-decoration: none;}
.aa:hover
    {color: gray;}

/* ac = a content */
.ac {font-size: 12pt; text-decoration: none; color: white;}
.ac:hover
    {color: #2081e2;}

/* ama */
.amap {font-size: 10pt; text-decoration: none; font-weight: bold; color: white; font-family: monospace}
.amap:hover
    {color: #2081e2;}

/* ams = a marketplaces, socials */
.ams {font-size: 12pt; text-decoration: none; color: #2081e2; display: flex; align-items: center; justify-content: left}
.ams:hover
    {color: gray;}

/* atdp = a table descriptiontarget="_new"*/
.atdp {font-size: 12pt; text-decoration: none; color: #2081e2;}
.atdp:hover
    {color: gray;}

/* afn = a footnote*/
.afn {font-size: 12pt; text-decoration: none; color: #2081e2;}
.afn:hover
    {color: gray;}

.fn {font-size: 10pt;}


/* imgps = img socials */
.imgps {width: 25px; filter: grayscale(1.0);}
.imgps:hover
    {filter: grayscale(0.0);}

p {text-indent: 30px;}

textarea {
    border-top: 0;
    border-left: 0;
    color: white;
    background: black;
}

/* bcb = background color black ASCII Art */
.bcb {
    background-color: #000000;
    display: table;
    border-collapse: separate;
}
/* bcw = background color white ASCII Art */
.bcw {
    background-color: #86ce56;
}

/*dc div checkbocks */
.dc {font-size: 10pt;}

/*dtc div table caption */
/*atc a table caption */
.dtc {display: flex; justify-content: center; text-align: center; font-size: 26pt; background-color: gray;}
.atc {font-size: 13pt; background-color: gray;}

/* tts = table series */
/* <tr align="center" valign="bottom" style="font-smooth: never; -webkit-font-smoothing: none;"> */
.tts {border: none; border-collapse: collapse; margin-left: auto; margin-right: auto;}
.tts tr {border-bottom: 1px solid #d0d0d0; text-align: center; vertical-align: top;}
.tts tr:last-child {border: none;}
.tts td {border-right: 1px solid #d0d0d0;}
.tts td:last-child {border: none;}
